/* left part banner*/

.banner .left-part {
  z-index: 1;
  padding: 120px 0 0 0;
  width: 511px;
}

.banner .left-part .main-text {
  font-family: "Orbitron";
  color: #fff;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48.7px;
  line-height: 67px;
}

.banner .left-part .sub-text {
  font-family: "Montserrat";
  color: #fff;
  margin-bottom: 57px;
  font-weight: 400;
  font-size: 18.5px;
  line-height: 22px;
}

.banner .left-part .buttons .btn-part .btn {
  color: #fff;
  font-family: Inter;
  background-color: #1d51fe;
  width: 140px;
  height: 54px;
  margin-right: 40px;
  font-size: 17px;
  margin-bottom: 38px;
}

.banner .left-part .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner .left-part .buttons .banner-icons {
  margin-bottom: 40px;
}

.banner .banner-icons img:not(:first-child) {
  margin: 0 0 0 -12px;
}

.banner .left-part .stats h5 {
  color: #fff;
  font-family: "Orbitron";
  margin-right: 70px;
}

.banner .left-part .stats .people h6 {
  font-family: Inter;
  color: gray;
}

.banner .left-part .stats h5 {
  color: #fff;
  font-family: "Orbitron";
}

.banner .left-part .stats .buy h6 {
  font-family: Inter;
  color: gray;
}

.banner .left-part .stats img {
  margin-right: 45px;
}

.banner .left-part .stats {
  display: flex;
  flex-direction: row;
}

/* right part banner */

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner .banner-picture {
  position: relative;
}

.banner .picture-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  text-align: center;
}

.banner .right-part {
  max-width: 647px;
  margin: 0 -30px 0 auto;
}

.banner .right-part .banner-picture .picture-text h2 {
  font-family: "Orbitron";
  color: #fff;
}

.banner .right-part .banner-picture .picture-text p {
  font-family: Inter;
  color: gray;
  font-size: 17px;
}
