/* left part */

.highlight {
  display: flex;
  width: fit-content;
  border-radius: 58px;
  overflow: hidden;
  padding: 6px 18px;
  background-color: #1d51fe;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 19px;
  font-weight: 600;
  line-height: 35px;
}

.end-part .left-part {
  margin: 0 auto 0 0;
}

.end-part .left-part span {
  font-family: "Montserrat";
  font-size: 78px;
  color: #fff;
}

.end-part .left-part span .white {
  font-weight: 900;
}

/* right part */

.end-part {
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
}

.end-part .info h2 {
  font-family: "Montserrat";
  color: #fff;
}

.end-part .info p {
  font-family: "Montserrat";
  color: grey;
  font-size: 19px;
}

.end-part .stars {
  margin-bottom: 40px;
}

.end-part .right-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
