footer .title {
  font-family: "Orbitron";
  font-size: 17px;
  color: #fff;
}

footer .desc {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
}

footer .desc a:not(:last-child) {
  margin: 0 0 16.5px 0;
}

/* links part */

footer {
  background-color: #1d51fe;
  font-family: "Orbitron";
  padding: 38px 0;
  margin: 33px 43px;
  position: relative;
}

footer:before,
footer:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
}

footer:before {
  top: -33px;
}

footer:after {
  bottom: -33px;
}

footer .container {
  display: flex;
  flex-direction: row;
}

footer .links {
  margin: 0 auto 0 0;
}

footer .links img {
  margin-bottom: 19px;
}

footer .links p,
footer a {
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.85);
}

footer .links p {
  font-family: "Orbitron";
}

footer .links span {
  font-weight: 700;
}

/* details part */

footer .details {
  display: flex;
  flex-direction: row;
}

footer .title {
  margin: 0 0 25px 0;
}

.details .team {
}

.details .details-col {
  margin: 20px 60px 0 0;
}

/* sub part */

footer .sub {
  margin: 20px 0 0 0;
}

footer .sub .input .btn {
  color: #fff;
  background-color: black;
  border-radius: 0px;
}

/* input part */

.subscribe-form input {
  background-color: rgba(217, 217, 217, 0.2);
  color: #fff;
  padding: 14px 21px;
  border: none;
  outline: none;
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.sub .input {
  display: flex;
  flex-direction: row;
}

.sub .input .btn {
  flex-basis: 100%;
  margin: 0 0 0 16px;
}

.policy {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 24px 0 16px 0;
  font-family: "Orbitron";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
