/* black color #000000 */
body {
  background-color: #0a0a0a;
}

.container {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.logo-circle {
  width: 504px;
  height: 504px;
  position: absolute;
  z-index: 0;
}

.gallery-part {
  height: 683px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-part img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gallery-part-title {
  font-size: 56px;
  line-height: 67px;
  font-weight: 900;
  font-family: "Orbitron";
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 2;
  color: #000;
}

.gallery-part-title .white {
  color: #fff;
  max-width: 16ch;
}

.gallery-part-title .exp {
  width: 100%;
}

.gallery-part-title .black {
  color: #000;
}
