/* left-part */

/* first - section */
.metavers-profits .left-part .first-section .metaverse .title span {
  font-family: Orbitron;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.metavers-profits .left-part .first-section .metaverse .desc span {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  color: grey;
}

.metavers-profits .title {
  display: flex;
  flex-direction: row;
  margin-bottom: 31px;
}

.metavers-profits .title .logo {
  margin-right: 14px;
}

.metavers-profits .first-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.metavers-profits .metaverse {
  margin-right: 100px;
}

.metavers-profits .left-part .first-section .Path .title span {
  font-family: Orbitron;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.metavers-profits .left-part .first-section .Path .desc span {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  color: grey;
}

/* second - section */

.metavers-profits .left-part .second-section .fun .title span {
  font-family: Orbitron;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.metavers-profits .left-part .second-section .fun .desc span {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  color: grey;
}

.metavers-profits .left-part .second-section .fast .title span {
  font-family: Orbitron;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.metavers-profits .left-part .second-section .fast .desc span {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  color: grey;
}

.metavers-profits .second-section {
  display: flex;
  flex-direction: row;
}

.metavers-profits .fun {
  margin-right: 100px;
}

/* right - part */

.metavers-profits .right-part .title {
  font-family: Orbitron;
  font-size: 35px;
  font-weight: 900;
  color: #fff;
}

.metavers-profits .right-part .desc {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  color: #ffffffd9;
}

.metavers-profits {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
  margin-left: 100px;
}

.metavers-profits .left-part {
  margin-right: 100px;
  margin-left: 60px;
}

.metavers-profits .right-part {
  margin-top: 50px;
}
