.container .metavers-profits h3,
.container .metavers-profits h1 {
  font-family: Orbitron;
  color: #fff;
  margin-bottom: 30px;
}

.container .metavers-profits p {
  font-family: Montserrat;
  color: grey;
  font-size: 19px;
  margin-bottom: 20px;
}

.container .metavers-profits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.container .metavers-profits .title {
  display: flex;
  flex-direction: row;
}

.container .metavers-profits .title img {
  margin-bottom: 25px;
}

.container .metavers-profits .more {
  margin-top: 100px;
}
